@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

// MOBILE STYLES
// MOBILE STYLES
// MOBILE STYLES

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: $fw-regular;
  line-height: 1.3;
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left -24px top -5px, right 0 bottom -220px;
  background-size: contain, contain;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.container {
  margin: 1.5rem;
}

.header {
  margin-top: 4.68rem;
  text-align: center;

  &__title h1 {
    font-size: 2.625rem;
    line-height: 2.375rem;
    color: $veryDarkMagenta;
  }

  &__title p {
    font-size: $fs-body;
    color: $darkGrayishMagenta;
    font-weight: $fw-light;
    margin-bottom: 3.125rem;
  }
}

.rating {
  &__review {
    border-radius: $border-radius;
    background-color: $lightGrayishMagenta;
    margin-bottom: $mt-bottom;
    padding: 1rem;
    transition: $transition;

    & p {
      margin: 0;
      color: $veryDarkMagenta;
      font-weight: $fw-bold;
    }
  }

  &__review:hover {
    background-color: rgba($softPink, 0.2);
    cursor: pointer;
  }

  &__stars img {
    padding: 0.2rem;
  }
}

.user {
  background-color: $veryDarkMagenta;
  border-radius: $border-radius;
  padding: 2.4rem 1.7rem 0.625rem;
  margin-bottom: $mt-bottom;
  font-size: $fs-body;
  font-weight: $fw-light;
  color: rgba($lightGrayishMagenta, 0.8);
  transition: $transition;

  &__profile {
    display: flex;

    & img {
      border-radius: 50%;
      width: 3.125rem;
      height: 3.125rem;
      margin-right: 1.75rem;
    }

    & h3 {
      font-size: $fs-body;
      text-align: left;
      color: $white;
    }

    & h4 {
      font-size: $fs-body;
      text-align: start;
      color: rgba($softPink, 0.7);
      font-weight: $fw-regular;
    }
  }
}

.user:hover {
  background-color: rgba($electricBlue, 0.85);
  cursor: pointer;
}

// MEDIUM SCREENS
// MEDIUM SCREENS
// MEDIUM SCREENS

@media (min-width: 640px) and (max-width: 1023px) {
  .container {
    margin: 8rem;
  }

  .header {
    &__title h1 {
      font-size: 4.5rem;
      line-height: 4rem;
      color: $veryDarkMagenta;
    }
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
    background-position: left -770px top -5px, right 0 bottom -220px;
  }

  .container {
    margin: 9.4rem auto;
    max-width: 1110px;
  }

  .header {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;

    &__title {
      max-width: 31.25rem;
      margin-right: 9.4rem;

      & h1 {
        font-size: 3.75rem;
        line-height: 3.45rem;
      }
      & p {
        font-size: $fs-body-desk;
        margin-bottom: 4.375rem;
      }
    }
  }

  .rating {
    width: 34.7rem;

    &__review {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-height: 3.75rem;
    }

    &__review:nth-child(1) {
      transform: translateX(-100px);
    }

    &__review:nth-child(2) {
      transform: translateX(-50px);
    }

    &__stars {
      margin-top: 0.3rem;
      padding: 0 1.56rem;
    }
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0 2rem;
    margin-top: 3.125rem;
  }

  .user {
    padding: 2.375rem 2rem 0.625rem;
  }

  .user:hover {
    transform: translateY(-25px);
    cursor: pointer;
  }

  .user:nth-child(1) {
    margin-top: 0;
  }

  .user:nth-child(2) {
    margin-top: 1.55rem;
  }

  .user:nth-child(3) {
    margin-top: 3.1rem;
  }

  .user:hover {
    transform: translateY(-30px);
    cursor: pointer;
  }
}
