// Font Weights

$fw-light: 400;
$fw-regular: 500;
$fw-bold: 700;

// Font Sizes

$fs-body: 1.125rem;

// Colors

$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Margins

$mt-bottom: 1rem;
